#Ignore all but not default avatar
/srcs/backend/media/avatars/*
!/srcs/backend/media/avatars/default.png

db.sqlite3
.env
.vscode/
node_modules/
dist/
build/
.DS_Store
.venv
__pycache__
venv/
