<div id="about-container">
    <h1>About Us</h1>
    <ul>
        <li>
            <strong>Alex</strong> – 
            <a href="https://github.com/alex" target="_blank">GitHub</a>
        </li>
      <li>
        <strong>Ivy</strong> – 
        <a href="https://github.com/ivy" target="_blank">GitHub</a>
      </li>
      <li>
        <strong>Bobbi</strong> – 
        <a href="https://github.com/bobbi" target="_blank">GitHub</a>
      </li>
      <li>
        <strong>Dimitri</strong> – 
        <a href="https://github.com/dimitri" target="_blank">GitHub</a>
      </li>
      <li>
        <strong>Usman</strong> – 
        <a href="https://github.com/usman" target="_blank">GitHub</a>
      </li>
    </ul>
    <a href="#menu"><button>Back to Menu</button></a>
  </div>
  