<div id="about-container">
  <h1>About Us</h1>
  <ul>
    <li>
      <strong>Alex</strong> –
      <a href="https://github.com/61l65x" target="_blank">GitHub</a>
    </li>
    <li>
      <strong>Ivy</strong> –
      <a href="https://github.com/ixu42" target="_blank">GitHub</a>
    </li>
    <li>
      <strong>Bobbie</strong> –
      <a href="https://github.com/Moridar" target="_blank">GitHub</a>
    </li>
    <li>
      <strong>Dmitrii</strong> –
      <a href="https://github.com/shatilovdr" target="_blank">GitHub</a>
    </li>
    <li>
      <strong>Usman</strong> –
      <a href="https://github.com/usmanUA" target="_blank">GitHub</a>
    </li>
  </ul>
  <a href="#menu"><button>Back to Menu</button></a>
</div>