<div id="contact-container">
    <h1>Contact Us</h1>
    <div class="contact-details">
      <p>Email us at <a href="mailto:apyykone@student.hive.fi">apyykone@student.hive.fi</a></p>
      <p>Email us at <a href="mailto:ixu@student.hive.fi">ixu@student.hive.fi</a></p>
      <p>Email us at <a href="mailto:bsyvasal@student.hive.fi">bsyvasal@student.hive.fi</a></p>
      <p>Email us at <a href="mailto:dshatilo@student.hive.fi">dshatilo@student.hive.fi</a></p>
      <p>Email us at <a href="mailto:uahmed@student.hive.fi">uahmed@student.hive.fi</a></p>
    </div>
    <a href="#menu"><button>Back to Menu</button></a>
  </div>
  