<div id="dashy-container">
    <h1>Stats Dashboards</h1>
    <p class="waiting-text">Not Waiting...</p>
    <div class="dashy-button-group">
        <button id="start-user-btn" class="btn btn-primary dashy-btn">
            User Stats
            <img src="static/icons/lan50x50.png" alt="Local Play" class="lobby-icon">
        </button>
        <button id="start-game-btn" class="btn btn-success dashy-btn">
            Game Stats
            <img src="static/icons/internet50x50.png" alt="Online Game" class="lobby-icon">
        </button>
    </div>
    <a href="#menu" class="btn btn-secondary mt-4">Back to Menu</a>
</div>

<div id="userstats-mode-modal-overlay" class="userstats-mode-modal-overlay">
    <div id="userstats-mode-modal" class="user-stats-modal-content">
        <h1>Choose Stats Type</h1>
        <div class="btn-group">
            <button id="one-user-stat-btn" class="btn">📊 Overview</button>
            <button id="close-user-btn" class="btn close-usr-btn">❌ Close</button>
        </div>
    </div>
</div>


<div id="gamestats-mode-modal-overlay" class="gamestats-mode-modal-overlay">
    <div id="gamestats-mode-modal" class="game-stats-modal-content">
        <h1>Choose Stats Type</h1>
        <div class="btn-group">
            <button id="one-game-stat-btn" class="btn">📊 Overview</button>
            <button id="thr-game-stat-btn" class="btn">Trends</button>
            <button id="close-game-btn" class="btn close-gme-btn">❌ Close</button>
        </div>
    </div>
</div>
