<div id="menu-container">
    <h1 class="menu-title">Poggers</h1>
    <div id="menu-options">
        <button class="menu-btn" onclick="window.location.hash='#lobby'">
            Play Game <img src="static/icons/pong50x50.png" alt="Play" class="menu-icon">
        </button>
        <button class="menu-btn" onclick="window.location.hash='#dashy'">
            View Stats<img src="static/icons/pong50x50.png" alt="View Stats" class="menu-icon">
        </button>
        <button class="menu-btn" onclick="window.location.hash='#leaderboard'">
            Leaderboard <img src="static/icons/white-leaderboard40x40.png" alt="Leaderboard" class="menu-icon">
        </button>
        <button class="menu-btn" onclick="window.location.hash='#about'">
            About Us <img src="static/icons/info48x48.png" alt="About Us" class="menu-icon">
        </button>
    </div>
</div>
