<div class="terms-container my-5" style="padding-top: 70px;">
  <section id="privacy" class="terms-section mb-5">
    <h1 class="terms-h1">Privacy Policy</h1>
    <p class="terms-p">This privacy policy outlines how we collect, use, and protect your information when you
      interact with our app. This is a student project and not intended for commercial use.</p>
    <h2 class="terms-h2">Information We Collect</h2>
    <p class="terms-p">We only collect your data that is essential for the functionality of the app: (1) username,
      (2) email address, (3) first name, (4) last name, (5) avatar. Except for username, other data is optional. You may
      choose not to provide this additional information, and it will not affect your ability to use the app.
    </p>
    <h2 class="terms-h2">How We Use Your Information</h2>
    <p class="terms-p">The information collected is used solely to enhance your experience within the app, such as
      managing user accounts and personalizing content. We may use cookies to help you stay logged in. You have the
      option to disable cookies in your browser settings, though this may affect your experience with the app</p>
    <h2 class="terms-h2">Your Data Privacy Rights</h2>
    <p>
      We value your privacy and are committed to protecting your personal data. For this app, the most relevant
      rights you have regarding your data are:
    <ul>
      <li>right to access: view your personal data on profile page;</li>
      <li>right to rectify: edit your personal data on profile page if it is inaccurate or incomplete;</li>
      <li>right to erasure: anonymize your personal data and disable your account, or delete your account entirely. Both
        actions will remove your personal data from our system.</li>
    </ul>
    </p>
    <h2 class="terms-h2">Data Protection</h2>
    <p class="terms-p">We take reasonable steps to protect your information. However, as this is a student project,
      we recommend that you do not provide any sensitive or personally identifiable information.</p>
    <h2 class="terms-h2">Changes to This Privacy Policy</h2>
    <p class="terms-p">
      We may update this privacy policy from time to time. Any changes will be posted on this page, and
      by continuing to use the app, you agree to be bound by the revised policy. We recommend that you review this page
      periodically.
    </p>
    <div class="terms-h2">Contact Us</div>
    <p class="terms-p">
      If you have any questions, concerns, or requests regarding your data privacy rights, please <a
        href="#contact">contact us</a>.
    </p>
  </section>
</div>