<div class="terms-container my-5" style="padding-top: 70px;">
    <section id="terms" class="terms-section mb-5">
        <h1 class="terms-h1">Terms of Service</h1>
        <ul class="terms-ul">
            <li class="terms-li">Be nice to everyone!</li>
            <li class="terms-li">We might change these rules, so check back sometimes.</li>
            <li class="terms-li">The site might have little problems now and then.</li>
        </ul>
    </section>
    <section id="privacy" class="terms-section mb-5">
        <h1 class="terms-h1">Privacy Policy</h1>
        <ul class="terms-ul">
            <li class="terms-li">We keep your basic info safe.</li>
            <li class="terms-li">We don't sell your info to anyone.</li>
            <li class="terms-li">We use cookies to help you stay logged in.</li>
            <li class="terms-li">This policy might change, so keep an eye out.</li>
        </ul>
    </section>
</div>