#game-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 600px;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
}

#pong {
    background-color: #000;
    border: 2px solid white;
}

#scoreboard {
    margin-top: 10px;
    font-size: 1.5rem;
    color: white;
}

