





#login-container {
    text-align: center;
    padding: 20px;
}

.login-title {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
}

.login-options .btn {
    width: 250px;
    padding: 15px;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 10px auto;
}



