/* Color Palette */
:root {
    --primary-color: #233367;   
    --secondary-color: #2A1E45;  
    --background-color: #300A24; 
    --text-color: #e9e9e4;  
    --accent-color: #1D4889;    
    --link-color: #175CAA;       
    --link-hover-color: #0A85ED;   
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#app {
  flex: 1;
  z-index: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

 /* 404 Page */
.not-found-container {
    text-align: center;
    margin-top: 100px;
  }
  
  .not-found-container h1 {
    font-size: 6rem;
    color: #e74c3c;
    margin-bottom: 10px;
  }
  
  .not-found-container p {
    font-size: 1.5rem;
    color: #555;
  }
  
  .not-found-container a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background-color 0.3s;
  }

  .not-found-container a:hover {
    background-color: #2980b9;
  }
  
