





/* Color Palette */
:root {
    --primary-color: #233367;   
    --secondary-color: #2A1E45;  
    --background-color: #300A24; 
    --text-color: #e9e9e4;  
    --accent-color: #1D4889;    
    --link-color: #175CAA;       
    --link-hover-color: #0A85ED;   
}


