{% extends "base/base.html" %}

{% block title %}Menu{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="css/menu.css">
{% endblock %}

{% block content %}
<div id="menu-container">
    <h1>Poggers</h1>
    <div id="menu-options" class="d-flex flex-column gap-4">
        <a href="lobby.html" id="play-btn" class="btn custom-btn custom-btn-play disabled" aria-disabled="true">Play</a>
        <a href="leaderboard.html" class="btn custom-btn custom-btn-leaderboard">Leaderboards</a>
        <a href="credits.html" class="btn custom-btn custom-btn-credits">Credits</a>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="../js/menu.js"></script>
{% endblock %}
