.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}

.menu-container .menu-title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.menu-container .custom-btn {
    width: 250px;
    padding: 10px;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    color: var(--primary-btn-text-color);
    background-color: var(--primary-btn-bg);
    text-align: center;
    text-transform: uppercase;
    border: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.menu-container .custom-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
