/* Avatar Styling */
.profile-avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 3px solid var(--accent-color);
    transition: opacity 0.3s ease;
}.avatar-container {
    position: relative;
    display: inline-block;
}.avatar-upload-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}.avatar-container:hover .avatar-upload-label {
    opacity: 1;
}.avatar-container:hover .profile-avatar {
    opacity: 0.8;
}

/* Profile Container */
.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    padding: 20px;
    box-sizing: border-box;
}

/* Text Styling */
.profile-container h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: var(--primary-text-color);
}.profile-container p {
    font-size: 1.2rem;
    margin: 5px 0;
    color: var(--secondary-text-color);
}

/* Tournament List Styling */
.profile-tournaments {
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
}.tournament-item {
    background-color: var(--secondary-bg-color);
    border: 1px solid var(--accent-color);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    text-align: left;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}.tournament-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}.tournament-item strong {
    display: block;
    font-size: 1.1rem;
    margin-bottom: 5px;
    color: var(--primary-text-color);
}.tournament-item span {
    display: block;
    font-size: 0.9rem;
    color: var(--secondary-text-color);
}


/* Button Styling */
#profile-menu-btn, #profile-logout-btn {
    background-color: var(--accent-color);
    color: var(--primary-text-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}#profile-menu-btn:hover, #profile-logout-btn:hover {
    background-color: var(--link-hover-color);
    transform: scale(1.05);
}
